* {
  box-sizing: border-box;
}
h1 {
  font-size: 27px;
  font-family: helevicta serif;
  text-align: center;
  color: rgb (0, 0, 0);
  margin-bottom: 30px;
}
.container {
  width: 100;
}
.section {
  background-color: rgb(150, 150, 150);
  border: 2px solid black;
  margin-top: 20px;
  margin-right: 20px;
  padding: 3px;
  text-align: justify;
  position: relative;
}
span {
  font-size: 20px;
  width: 150;
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  float: right;
  top: 0, right 0;
  margin: 0;
}
#h1 {
  background-color: rgb(80, 19, 19);
  color: rgb(0, 0, 0);
}
#h2 {
  background-color: rgb(77, 216, 7);
  color: (250, 250, 250);
}
#h3 {
  background-color: (58, 58, 241);
  color: rgb(145, 160, 16);
}
p {
  padding: 15px, 5px, 0px, 5px;
  font-family: Helevicta sans-serif;
  font-size: 16px;
  position: relative;
}

/* Desktop PC view */

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

/* Tablet PC view */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

/* cell phone view */
@media (max-width: 767px) {
  .col-sx-12 {
    float: left;
    width: 100%;
  }
}
